.kkcdplayer-background {
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -50;
    background: #4A7CE9;

    %waves {
        position: absolute;
        background-size: cover;
        bottom: 0;
        left: 0;
        width: 3000px;
        transition: height .3s ease, transform .3s ease;
    }

    &-wave1 {
        @extend %waves;
        background: url('~@assets/img/waves/wave1.svg');
        animation: wave-animate 26s linear infinite;
        height: 0;
    }
    &-wave2 {
        @extend %waves;
        background: url('~@assets/img/waves/wave2.svg');
        animation: wave-animate 28s linear infinite;
        height: 0;
    }
    &-wave3 {
        @extend %waves;
        background: url('~@assets/img/waves/wave3.svg');
        animation: wave-animate 30s linear infinite;
        height: 26vh;
    }
    @keyframes wave-animate {
        0% { background-position-x: 0; }
        100% { background-position-x: 3000px; }
    }


    $waveName: 'kkcdplayer-background-wave';
    &.playing {
        background: #5AD0F2;
        .#{$waveName}1 {
            height: 38vh;
        }
        .#{$waveName}2 {
            height: 35vh;
        }
        .#{$waveName}3 {
            height: 32vh;
        }
    }

}