@import '../constants.scss';

.kkcdplayer-title {
    background: url('~@img/title_bg#{$pc_suffix}.svg');
    background-size: cover;
    height: 107px;
    width: 1148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 53px;

    position: absolute;
    left: 62px;
    top: 37px;

    @media screen and (max-width: $pad_max) {
        background: url('~@img/title_bg#{$land_suffix}.svg');
        height: 59px;
        width: 630px;
        padding: 0 17px;
        left: 20px;
        top: 20px;
    }

    @media screen and (max-width: $phone_max) {
        background: url('~@img/title_bg#{$port_suffix}.svg');
        height: 59px;
        width: 358px;
        left: min(20px, calc((100vw - 358px) / 2));
        top: 20px;
    }
}
