.kkcdplayer-cursor {
    pointer-events: none;
    position: fixed;
    background: url('~@img/cursor/cursor.svg') no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100%;

    &.poke {
        background: url('~@img/cursor/cursor_poke.svg') no-repeat;
    }
}
