@import '../constants.scss';

.kkcdplayer-volumeindicator {
    width: 72px;
    height: 58px;

    &.volumestatus-none {
        & > path.volume-low {
            fill: #c6dfd2;
        }
        & > path.volume-middle {
            fill: #c6dfd2;
        }
        & > path.volume-high {
            fill: #c6dfd2;
        }
    }

    &.volumestatus-low {
        & > path.volume-middle {
            fill: #c6dfd2;
        }
        & > path.volume-high {
            fill: #c6dfd2;
        }
    }

    &.volumestatus-middle {
        & > path.volume-high {
            fill: #c6dfd2;
        }
    }

    @media screen and (max-width: $pad_max) {
        width: 42px;
        height: 25px;
    }
}
