.kkcdplayer-volumeindicator {
    %size {
        width: 72px;
        height: 58px;
    }

    &-none {
        & > path.volume-low {
            fill: #c6dfd2;
        }
        & > path.volume-middle {
            fill: #c6dfd2;
        }
        & > path.volume-high {
            fill: #c6dfd2;
        }
        @extend %size;
    }

    &-low {
        & > path.volume-middle {
            fill: #c6dfd2;
        }
        & > path.volume-high {
            fill: #c6dfd2;
        }
        @extend %size;
    }

    &-middle {
        & > path.volume-high {
            fill: #c6dfd2;
        }
        @extend %size;
    }
}
